{% extends 'callendariq/index.html' %}
{% block main_content %}

    {% if error %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>

            <div class="fieldWrapper lh-150">
                <small class="text-warning">{{ error }}</small>
            </div>
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>

            {% for field in form %}
                <div class="fieldWrapper lh-150">
                    <small class="text-warning">{{ field.errors }}</small>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form class="my-3 p-3 bg-white rounded box-shadow" method="POST"
          action="{% url 'add_user_to_board' board_id=board.id %}">
        {% csrf_token %}


        <h4 class="border-bottom border-gray pb-2 mb-0">Add User to the Board</h4>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="user_login">User Login</label>
                <input type="text" required="required" name="user_login" id="user_login"
                       class="form-control form-control-sm"/>

            </div>

            <button type="submit" class=" mr-1 btn btn-primary ">Add User</button>
        </div>
    </form>

    <form class="my-3 p-3 bg-white rounded box-shadow" method="POST" action="{% url 'edit_board' board_id=board.id %}">
        <h4 class="border-bottom border-gray pb-2 mb-0">Updating</h4>
        {% csrf_token %}


        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="title">Title</label>
                <input type="text" value="{{ board.title }}" required="required" name="title" id="title"
                       placeholder="Enter board title"
                       class="form-control form-control-sm"/>

            </div>

            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Enter Board Description"
                          class="form-control form-control-sm">{{ board.description }}</textarea>

            </div>
        </div>


        <div class="d-flex justify-content-between align-items-center w-100">

            <a href="{% url 'board' board_id=board.id %}" class=" mr-1 btn btn-primary btn-link"
               role="button">Go Back</a>


            <button type="submit" class=" mr-1 btn btn-primary">Update</button>

        </div>

    </form>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0">Danger Zone</h4>


        <div class="d-flex justify-content-between align-items-center w-100  lh-150" role="group">
            <form method="POST" action="{% url 'quit_board' board_id=board.id %}">
                {% csrf_token %}

                <button class=" mr-1 btn btn-warning" type="submit">
                    Quit Board
                </button>
            </form>

            <form method="POST" action="{% url 'delete_board' board_id=board.id %}">
                {% csrf_token %}

                <button class=" mr-1 btn btn-danger" type="submit">
                    Delete Board
                </button>
            </form>
        </div>
    </div>

{% endblock main_content %}
