{% extends 'callendariq/index.html' %}

{% block main_content %}
    {% if form.errors %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>

            {% for field in form %}
                <div class="fieldWrapper lh-150">
                    <small class="text-warning">{{ field.errors }}</small>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form class="my-3 p-3 bg-white rounded box-shadow" method="POST"
          action="{% url 'edit_task' board_id=board_id task_id=task.id %}">

        {% csrf_token %}
        <h4 class="border-bottom border-gray pb-2 mb-0">Update Task</h4>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="title">Title</label>
                <input type="text" value="{{ task.title }}" required="required" name="title" id="title"
                       class="form-control form-control-sm"/>

            </div>

            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="description">Description</label>
                <textarea name="description" id="description"
                          class="form-control form-control-sm">{{ task.description }}</textarea>
            </div>

            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="description">State</label>
                <select class="form-control form-control-sm" name="status" id="status">
                    {% if task.status %}
                        <option value="True" selected="">Completed</option>
                        <option value="False">Not Completed</option>
                    {% else %}
                        <option value="True">Completed</option>
                        <option value="False" selected="">Not Completed</option>
                    {% endif %}
                </select>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100">

            <a href="{% url 'board' board_id=board_id %}" class=" mr-1 btn btn-primary btn-link"
               role="button">Go Back</a>

            <button type="submit" class=" mr-1 btn btn-primary">Update</button>
        </div>

    </form>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h4 class="border-bottom border-gray pb-2 mb-0">Danger Zone</h4>
        <form method="POST" action="{% url 'delete_task' board_id=board_id task_id=task.id %}">
            {% csrf_token %}

            <button class=" mr-1 btn btn-danger" type="submit">
                Delete Task
            </button>
        </form>
    </div>
{% endblock main_content %}
