{% extends 'fantastical_things/index.html' %}
{% block main_content %}
    <!-- Boards List template -->
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-secondary rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48"
             height="48">
        <div class="d-flex justify-content-between align-items-center w-100">
            <div class="lh-100">
                <h2 class="mb-0 text-white lh-100">Board Title</h2>
                <small>Board Description</small>
            </div>
            <div class="btn-group-sm text-right">
                <button type="button" class="btn btn-sm btn-light">Add CardList</button>
                <button type="button" class="btn btn-sm btn-light">Edit Board</button>
            </div>
        </div>
    </div>
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% for board in boards %}
            <!-- Task template -->
            <div class="media text-muted pt-3">
                <a href="#" class="mr-2 btn btn-success btn-link"
                   role="button">
                    <i class="rounded material-icons">dashboard</i>
                </a>
                <div class="d-flex justify-content-between align-items-center w-100 border-bottom border-gray ">
                    <div class=" media-body pb-3 mb-0 small lh-125 ">
                        <strong class="text-gray-dark">{{ board.title }}</strong>
                        <span class="d-block">{{ board.description }}</span>
                    </div>
                    <div class="btn-group-sm text-right">
                       <a href="{% url 'edit_board' board_id=board.id %}" class="mr-2 btn btn-primary btn-link"
                           role="button">
                            Edit Board
                        </a>
                        <a href="{% url 'board' board_id=board.id %}" class="mr-2 btn btn-primary btn-link"
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %} 
