<!DOCTYPE html>
<html lang="en" class="mdl-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign Up</title>

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'callendariq/img/favicon/favicon.ico' %}"/>

    <link rel="stylesheet" href="{% static 'callendariq/css/bootstrap-material-design.min.css' %}"
          type="text/css"/>
    <link rel="stylesheet" href="{% static "callendariq/css/login.css" %}">
</head>

<body class="bg-light">

<form class="form-signin bg-white" method="POST" action="{% url 'registration' %}">

    <h3 class="h3 mb-3 font-weight-normal text-dark text-center">SIGN UP</h3>

    {% csrf_token %}

    {#    {% if next %}#}
    {#        <input type="hidden" name="next" value="{{ next }}"/>#}
    {#    {% endif %}#}

    <label for="username" class="sr-only text-dark">Login</label>
    <input type="text" id="username" name="username"
           class="form-control" placeholder="Login" required="" autofocus="">

    <label for="password" class="sr-only text-dark">Password</label>
    <input type="password" name="password1" id="password1" class="form-control" placeholder="Password"
           required="">

    <label for="password_repeat" class="sr-only text-dark">Repeat Password</label>
    <input type="password" name="password2" id="password2" class="form-control mb-3" placeholder="Repeat Password"
           required="">

    {% for field in form %}
        <div class="fieldWrapper lh-150">
            <small class="text-warning">{{ field.errors }}</small>
        </div>
    {% endfor %}

    <button class="btn btn-block btn-outline-primary" type="submit">Sign Up</button>

    <h5 class="h5 mb-3 font-weight-normal text-dark text-center">OR</h5>

    <a href="{% url 'login' %}" class="btn btn-block btn-outline-primary btn-primary" role="button">Sign In</a>

</form>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
        integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"
        integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>

<script>$(document).ready(function () {
    $('body').bootstrapMaterialDesign();
});</script>

</body>
</html>
