{% extends 'callendariq/index.html' %}

{% block main_content %}

    {% if form.errors %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>

            {% for field in form %}
                <div class="fieldWrapper lh-150">
                    <small class="text-warning">{{ field.errors }}</small>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form class="my-3 p-3 bg-white rounded box-shadow" method="POST" action="{% url 'add_board' %}">

        {% csrf_token %}
        <h4 class="border-bottom border-gray pb-2 mb-0">Add Board</h4>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="title">Title</label>
                <input type="text" required="required" name="title" id="title"
                       class="form-control form-control-sm"/>

            </div>

            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="description">Description</label>
                <textarea name="description" id="description"
                          class="form-control form-control-sm"></textarea>

            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100">

            <a href="{% url 'index' %}" class=" mr-1 btn btn-primary btn-link"
               role="button">Go Back</a>

            <div class="btn-group" role="group">
                <button type="submit" class=" mr-1 btn btn-primary">Add</button>
            </div>

        </div>

    </form>
{% endblock main_content %}
