{% extends 'callendariq/index.html' %}

{% block main_content %}
    {% if error %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>
            <div class="fieldWrapper lh-150">
                <small class="text-warning">{{ error }}</small>
            </div>
        </div>
    {% endif %}

    {% if form.errors %}
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h4 class="pb-2 mb-0">Errors</h4>

            {% for field in form %}
                <div class="fieldWrapper lh-150">
                    <small class="text-warning">{{ field.errors }}</small>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <form class="my-3 p-3 bg-white rounded box-shadow" method="POST"
          action="{% url 'add_card' board_id=board_id cardlist_id=cardlist_id %}">

        {% csrf_token %}
        <h4 class="border-bottom border-gray pb-2 mb-0">Add Card</h4>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <label for="title">Title</label>
                <input type="text" required="required" name="title" id="title"
                       class="form-control form-control-sm"/>

            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 small lh-125 border-bottom border-gray">
                <label for="deadline">Deadline Date</label>
                <span class="bmd-form-group">
                    <input type="date" name="deadline" id="deadline" style="width: 250px;"
                           class="form-control "/></span>

                <label for="deadline_time">Deadline Time</label>
                <span class="bmd-form-group">
                    <input type="time" name="deadline_time" id="deadline_time" style="width: 250px;"
                           class="form-control "/></span>

            </div>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="media-body pb-3 mb-3 small lh-125 border-bottom border-gray">
                <h5>Repeat Every</h5>
                <p>
                    <label for="years">Years</label>
                    <input type="text" name="years" id="years" placeholder="Years"
                           class="form-control "/>

                    <label for="months">Months</label>
                    <input type="text" name="months" id="months" placeholder="Months"
                           class="form-control "/>

                    <label for="days">Days</label>
                    <input type="text" name="days" id="days" placeholder="Days"
                           class="form-control "/>

                    <label for="hours">Hours</label>
                    <input type="text" name="hours" id="hours" placeholder="Hours"
                           class="form-control "/>

                    <label for="minutes">Minutes</label>
                    <input type="text" name="minutes" id="minutes" placeholder="Minutes"
                           class="form-control "/>

                    <label for="seconds">Seconds</label>
                    <input type="text" name="seconds" id="seconds" placeholder="Seconds"
                           class="form-control "/>
                </p>
            </div>
        </div>

        <div class="d-flex justify-content-between align-items-center w-100">

            <a href="{% url 'board' board_id=board_id %}" class=" mr-1 btn btn-primary btn-link"
               role="button">Go Back</a>

            <div class="btn-group" role="group">
                <button type="submit" class=" mr-1 btn btn-primary">Add</button>
            </div>

        </div>

    </form>
{% endblock main_content %}
